@charset "utf-8";

/*图片*/

.tupian {
	width: 100%;
	height: 215px;
}

.tupian img {
	width: 100%;
	height: 215px;
}


/*图片*/


/*分享*/

.fenxiang {
	width: 830px;
	height: 112px;
	margin: auto;
}

.fenxiang ul {
	margin: 15px 0 15px 0;
	width: 830px;
	height: 112px;
}

.fenxiang ul li {
	width: 50%;
	float: left;
}


/*分享*/